# Mac filesystem dust
.DS_Store/
.DS_Store

# Linux temp files
*~

# vim
.*.sw[a-p]

# IntelliJ
*.iml
.idea

# Gradle
!gradle/wrapper/gradle-wrapper.jar
.gradle
build

# Gale
build-data
run

gale-api/build.gradle.kts
gale-server/build.gradle.kts
gale-server/src/minecraft
paper-api
paper-api-generator
paper-server
paper-api-generator.settings.gradle
